* {
    padding: 0px;
    margin: 0px;
}

li {
    list-style-type: none;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Lobster', cursive;
    margin: 0px;
}

p {
    font-size: 1.2rem;
}

button {
    background-color: rgb(83, 43, 22);
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: 10px;
}

button:hover {
    background-color: white;
    color: rgb(83, 43, 22);
    cursor: pointer;
}

li {
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

li:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.534);
}

.hero {
    background: url(./kirsten-drew-n49BjsFf5dI-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto auto 1fr;
    justify-items: center;
}

.logo {
    height: 100px;
    width: 100px;
}

.hero ul {
    display: flex;
    gap: 5px;
    height: 50px;
    color: white;
    justify-content: center;
    align-items: center;
}

.header {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.479);
    padding: 0px;
    height: 100%;
    width: 100%;
    text-align: center;
}

.hero-content {
    box-sizing: border-box;
    color: white;
    background-color: rgb(83, 43, 22);
    padding: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.hero-content p {
    width: 500px;
}

main {
    display: grid;
    grid-template-rows: max-content;
    padding: 20px;
}

.main-element {
    padding: 40px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    grid-auto-rows: max-content;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

main img {
    width: 400px;
    height: 300px;
    object-fit: cover;
}

main p {
    width: 400px;
}

#contact-info {
    width: 400px;
    justify-self: center;
    display: grid;
    grid-template-rows: max-content;
    gap: 20px;
    text-align: center;
    justify-content: center;
    padding: 20px;
    border: 2px solid rgb(83, 43, 22);
    border-radius: 10px;
}

.bold-p {
    font-weight: bold;
}
